<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <!-- Top nav bar -->
   <nav class="navbar-image">
    <img src="https://cdn.pixabay.com/photo/2021/02/03/05/37/question-mark-5976736_1280.png">
    <div class="navbar-login">
      <span>Quiz App</span>
        <div>
          <a button href="/login" class="btn" type="submit" class="btn btn-outline-dark">Login</button> </a>
          <br><a button href="/register" class="btn" type="submit" class="btn btn-outline-dark">Register</button></a></br>

        </div>

    </div>
  </nav>

</body>
</html>
