<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <!-- Top nav bar -->
   <nav class="navbar-image">
    <a href="/">
      <img src="https://cdn.pixabay.com/photo/2021/02/03/05/37/question-mark-5976736_1280.png">
    </a>
    <div class="navbar-title">
      <span> Quiz App</span>
    </div>
    <div class="navbar-login">
      <% if (!user) {%>
        <div>
          <a href="/login" type="submit" class="btn btn-outline-dark">Login </a>
          <br><a href="/register" class="btn" type="submit" class="btn btn-outline-dark">Register</a></br>
        </div>
        <% } else { %>
          <a href="/create" type="submit" class="createQuiz">Create Quiz</a>
          <br><a href="/myQuiz" type="submit" class="myQuiz">My Quiz</a></br>
          <form class="loggedIn" action="/logout" method="POST">
            <div>
              <label>Logged In As: <%= email %><button type="submit" class="logoutButton">Logout</button></label>
            </div>
          </form>
        <% } %>

    </div>
  </nav>

</body>
</html>
