

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Quiz Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <div class="quizContainer">
    <article class="eachQuestionContainer">
      <h1>My Quiz</h1>
      <table>
        <tr>
          <th>Quiz Name</th>
          <th>ShortURL</th>
        </tr>
        <tbody>
          <% for(let obj of quizzes) { %>
            <tr>
              <td><%= obj.name %></td>
              <td><a href="shortURL/<%= obj.shorturl %>"><%= obj.shorturl %></a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      </article>
    </div>
  </body>
</html>

