

.registerTitle {
  display: flex;
  flex-direction: column;
  text-shadow: -1px 1px black, 1px 1px black, 1px 0 black, 0 1px black;
  font-family: sans;
  color: #DBBE81;
}

.registerInput {
  display: flex;
  flex-direction: column;
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
  // font-family: sans;
  // color: #DBBE81;
}
.registerName {
  display: flex;
  flex-direction: column;
  margin: 10px;
    label{
      text-shadow: -1px 1px black, 1px 1px black, 1px 0 black, 0 1px black;
      font-family: sans;
      color: #DBBE81;
    }
}
.registerEmail {
  display: flex;
  flex-direction: column;
  margin: 10px;
    label{
      text-shadow: -1px 1px black, 1px 1px black, 1px 0 black, 0 1px black;
      font-family: sans;
      color: #DBBE81;
    }

}
.registerPassword {
  display: flex;
  flex-direction: column;
  margin: 10px;
    label{
      text-shadow: -1px 1px black, 1px 1px black, 1px 0 black, 0 1px black;
      font-family: sans;
      color: #DBBE81;
    }

}

.registerButton {
  width: 175px;
  height: 60px;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7D9EB5), to(#A2B7DB));
  border: 1px solid;
  overflow: hidden;
  position: relative;
  z-index: 20;

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.registerButton:hover {
  box-shadow: (0px 0px 15px 5px #fff);

  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}




