.userQuestionContainer {
  display: flex;
}

.eachUserQuestionContainer {
  display: flex;
}

.userQuestionContainer {
  display: flex;
}

.userAnswerContainer {
  display: flex;
}

.userAnswer {
  display: flex;
}
